includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes
        - tests
    level: 8
    excludePaths:
        - bootstrap/cache/*
        - storage/*
        - vendor/*
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: missingType.iterableValue
