**/.git
**/.gitignore
**/.env
**/.env.*
!**/.env.example
**/node_modules
**/vendor
**/storage/logs/*
**/storage/framework/cache/*
**/storage/framework/sessions/*
**/storage/framework/views/*
**/storage/app/private/*
**/storage/app/public/*
**/storage/pail/*
**/storage/debugbar/*
**/storage/clockwork/*
**/bootstrap/cache/*.php
**/.phpunit.cache
**/.phpunit.result.cache
**/public/build
**/public/hot
**/public/storage
**/coverage
**/.idea
**/.vscode
**/Dockerfile*
**/docker-compose*.yml
**/README.md
**/docs
**/agent-python
